/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'),
    url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf)
      format('truetype');
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
* html,
* body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  border: 1px solid grey;
}
h1 {
  font-size: 3rem;
  font-weight: 200;
}
h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
p {
  font-size: 0.9rem;
}
.address {
  display: flex;
  justify-content: center;
  background-color: #454443;
  color: white;
  height: 7vh;
}
@media (max-width: 800px) {
  .address {
    flex-direction: column;
    align-items: center;
    height: 20vh;
  }
}
@media (max-width: 950px) {
  .address .add__address {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .address .add__phone {
    width: 100%;
  }
}
.address div {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-right: 0.9rem;
}
.address div h3 {
  margin-right: 0.7rem;
}
.address div p {
  color: #f3f3f3;
}
.address div i {
  margin-right: 0.5rem;
  color: #2998ff;
}
.main-title {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .main-title {
    flex-direction: column;
    align-items: center;
  }
}
.main-title h1 {
  width: 35%;
  text-align: center;
}
@media (max-width: 700px) {
  .main-title h1 {
    width: 80%;
  }
}
.main-title nav {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .main-title nav {
    width: 80%;
  }
}
.main-title nav a {
  text-decoration: none;
  margin-right: 2rem;
  color: #2998ff;
}
.header__main {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 3rem 1rem 3rem 8rem;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .header__main {
    flex-direction: column;
    align-items: center;
  }
}
.header__main .header__main--title {
  padding: 2rem 0 0 0;
  margin-right: 0;
  width: 50%;
}
@media (max-width: 700px) {
  .header__main .header__main--title {
    width: 80%;
  }
}
.header__main .header__main--title p {
  font-size: 1.1rem;
}
.header__main .header__main--title .header__maintitle {
  margin-bottom: 1rem;
}
.header__main .imgDiv {
  width: 30%;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .header__main .imgDiv {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .header__main .imgDiv {
    width: 80%;
  }
}

.header__main .imgDiv img {
  width: 80%;
  height: 90%;
  border-radius: 50%;
  filter: grayscale(70%);
}
.section__main {
  margin: 2rem auto 0;
  padding: 3rem 1rem 3rem 8rem;
}
.header__mainskill p strong {
  font-weight: 1200;
  font-size: 1.2rem;
}
.section-heading {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.section__main .section-work__ele {
  margin: 1rem auto;
  width: 90%;
}
.section__main .section-work__ele ul {
  list-style-type: square;
}
.section--hobby {
  padding-top: 0;
  padding-bottom: 0;
}
.section--work, .section--certificates {
  background-color: #f3f3f3;
  margin-top: 0;
}
footer {
  background-color: #454443;
  color: white;
  height: 19vh;
  padding: 1rem;
}
@media (max-width: 900px) {
  footer {
    height: 20vh;
  }
}
.project-link {
  text-decoration: none;
  color: #2998ff;
}
footer .footer-div {
  width: 85%;
  margin: 0 auto;
}

footer p {
  margin-bottom: 10px;
}

/* Compact layout when generating PDF for 1-2 page output */
body.generating-pdf .address {
  padding: 4px 0;
  height: auto;
  min-height: 0;
}
body.generating-pdf .address div {
  margin-right: 0.5rem;
}
body.generating-pdf .address h3,
body.generating-pdf .address p,
body.generating-pdf .address a {
  font-size: 0.85rem !important;
}
body.generating-pdf .main-title {
  margin-bottom: 2px;
}

body.generating-pdf .header__main .header__main--title {
  padding: 0 !important;
  margin: 0 !important;
}
body.generating-pdf .my-name {
  font-size: 1.35rem !important;
  white-space: nowrap;
}
body.generating-pdf .header__main {
  padding: 0.6rem 1rem 0.6rem 1rem;
}
body.generating-pdf .header__main .header__maintitle .obj-title,
body.generating-pdf .header__main .header__mainskill .obj-title {
  font-size: 1.15rem !important;
  margin-bottom: 2px;
}
body.generating-pdf .header__main .header__maintitle p,
body.generating-pdf .header__main .header__mainskill p {
  font-size: 0.8rem !important;
  line-height: 1.3 !important;
  margin-bottom: 2px;
}
body.generating-pdf .header__mainskill p strong {
  font-size: inherit !important;
  font-weight: 700;
}
body.generating-pdf .section__main {
  margin: 0.5rem auto 0;
  padding: 0.6rem 1rem 0.6rem 1rem;
}
body.generating-pdf .header__main .header__main--title {
  width: 100%;
  max-width: 100%;
}
body.generating-pdf .section-heading {
  font-size: 1.15rem !important;
  margin-bottom: 2px;
  margin-top: 4px;
}
body.generating-pdf .section-work__ele {
  margin: 0.4rem auto;
}
body.generating-pdf .section-work__ele h3 {
  font-size: 1rem !important;
  margin-bottom: 1px;
}
body.generating-pdf .section-work__ele p {
  font-size: 0.8rem !important;
  margin-bottom: 2px;
}
body.generating-pdf .section-work__ele ul {
  margin: 2px 0;
  padding-left: 1.2rem;
}
body.generating-pdf .section-work__ele li {
  font-size: 0.78rem !important;
  line-height: 1.3 !important;
  margin-bottom: 1px;
}
body.generating-pdf footer {
  padding: 0.5rem 1rem;
  height: auto;
  min-height: 0;
}
body.generating-pdf footer h3 {
  font-size: 1rem !important;
}
body.generating-pdf footer p {
  font-size: 0.8rem !important;
  margin-bottom: 4px;
}

/* Print: hide photo so downloaded/printed resume has no headshot */
@media print {
  .header__main .imgDiv {
    display: none !important;
  }
  .header__main .descip {
    width: 100%;
  }
}
